services:
  nginx:
    image: nginx:mainline-alpine
    restart: unless-stopped
    depends_on:
      - wordpress
    ports:
      - ${WEB_PORT:-80}:80
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - wordpress:/var/www/html:ro

  wordpress:
    image: wordpress:php8.4-fpm
    restart: unless-stopped
    env_file:
      - .env
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${DBUSER}
      WORDPRESS_DB_PASSWORD: ${DBPASS}
      WORDPRESS_DB_NAME: ${DBNAME}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_REDIS_HOST', 'redis');
        define('WP_CACHE_KEY_SALT', '${CACHE_KEY_SALT}');
        define('WP_CACHE', true);
    volumes:
      - wordpress:/var/www/html
      - ./wordpress/php/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:ro
    depends_on:
      - db
      - redis

  db:
    image: mariadb:11
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MARIADB_DATABASE: ${DBNAME}
      MARIADB_USER: ${DBUSER}
      MARIADB_PASSWORD: ${DBPASS}
      MARIADB_RANDOM_ROOT_PASSWORD: '1'
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_unicode_ci"]
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    restart: unless-stopped

volumes:
  wordpress:
  wp-content:
  db-data:
